@using Forum.Persistence.Domain
@using Forum.Web.Properties
@model Forum.Web.Models.PostViewModel

@{
    ViewBag.Title = "AddPost";    
}

<h2>Add New Post</h2>


@using (Html.BeginForm("AddPost", "Post", FormMethod.Post)) 
{
    @Html.HiddenFor(m => m.TopicId)
    @Html.HiddenFor(m => m.Author.Id);
    @Html.HiddenFor(m => m.FromApiUrl);

    @Html.AntiForgeryToken()

    @Scripts.Render("~/bundles/externalscripts")
    @Scripts.Render("~/bundles/customscripts")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="form-horizontal">
    @{} 
    
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Content@*, new { @class = "control-label col-md-2" }*@)
        <div>
            @Html.TextAreaFor(model => model.Content@*, new { @class = "form-control col-md-10" }*@)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
    </div>

       <div class="form-group">
            <div class="col-md-offset-2 col-md-13">
                <input type="submit" value="Create" class="btn btn-default" name="submit"/>
            </div>
        </div>
    </div>
}

<div>    
   @Html.ActionLink("Back to List", "TopicDetail", "Topic", new { id = @Model.TopicId }, null)
</div>


