
@{
    ViewBag.Title = "AddTopic";
}

<h2>Add New Topic</h2>  

@model Forum.Web.Models.TopicViewModel
@using (Html.BeginForm("AddTopic", "Topic", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @*
        Using a wysiwyg text editor
        http://www.tinymce.com/
    *@
    @Scripts.Render("~/bundles/externalscripts")
    @Scripts.Render("~/bundles/customscripts")
    
    @Scripts.Render("~/bundles/jqueryval")    
<body>
    <div>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title@*, new { @class = "control-label col-md-2" }*@)
            <div>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control col-md-10" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
    </div>
    <hr />
        <div @*class="form-group"*@>
            @Html.LabelFor(model => model.Content@*, new { @class = "control-label col-md-2" }*@)
            <div>
                <!-- This will automatically post to your Index method (that is decorated with a HttpPost attribute) -->
                @using (Html.BeginForm())
                {
                    
                    <div>
                        <!-- This will contain your HtmlContent and use the TinyMCE editor-->
                        @Html.TextAreaFor(model => model.Content)

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-13">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                        <hr />
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to List", "TopicList")
                </div>
            </div>
        </div>

</body>

}