@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Two factor is currently enabled:
                    <input type="submit" value="Disable" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Two factor is currently disabled:
                    <input type="submit" value="Enable" class="btn btn-default" />
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default" />
                </p>
            </form>
        }
        <form method="post" action="/Manage/UploadAvatar" enctype="multipart/form-data">  
                @Html.AntiForgeryToken()
                @if (Model.AvatarFileName == string.Empty)
                {                    
                    <img src="~/Images/default-avatar.dmbNkD5D-u45r44go_cf0g.png" class="img-responsive" alt="Responsive image" style="width: 100px">
                    <br />    
                    <label for="photo">Upload your avatar:</label>
                    <input type="file" name="photo" id="photo" accept="image/x-png, image/gif, image/jpeg" />
                    <input type="submit" value="Upload" />
                }
                else
                {
                    <img src="~/Content/Images/@(Model.AvatarFileName)" />
                    <br />
                    <label for="photo">Update your avatar:</label>
                    <input type="file" name="photo" id="photo" accept="image/x-png, image/gif, image/jpeg" />
                    <input type="submit" value="Update" />
                }
        </form>
    </div>
</div>
